In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = '''https://www.scrapethissite.com/pages/simple/'''
response = requests.get(url)
response

In [18]:
soup = BeautifulSoup(response.text, "html.parser")
rows= soup.find_all(class_="row")
print(rows[3])

<div class="row">
<div class="col-md-4 country">
<h3 class="country-name">
<i class="flag-icon flag-icon-ad"></i>
                            Andorra
                        </h3>
<div class="country-info">
<strong>Capital:</strong> <span class="country-capital">Andorra la Vella</span><br/>
<strong>Population:</strong> <span class="country-population">84000</span><br/>
<strong>Area (km<sup>2</sup>):</strong> <span class="country-area">468.0</span><br/>
</div>
</div><!--.col-->
<div class="col-md-4 country">
<h3 class="country-name">
<i class="flag-icon flag-icon-ae"></i>
                            United Arab Emirates
                        </h3>
<div class="country-info">
<strong>Capital:</strong> <span class="country-capital">Abu Dhabi</span><br/>
<strong>Population:</strong> <span class="country-population">4975593</span><br/>
<strong>Area (km<sup>2</sup>):</strong> <span class="country-area">82880.0</span><br/>
</div>
</div><!--.col-->
<div class="col-md-4 country">
<h3 class="country-name">
<i class="flag-icon flag-icon-af"></i>
                            Afghanistan
                        </h3>
<div class="country-info">
<strong>Capital:</strong> <span class="country-capital">Kabul</span><br/>
<strong>Population:</strong> <span class="country-population">29121286</span><br/>
<strong>Area (km<sup>2</sup>):</strong> <span class="country-area">647500.0</span><br/>
</div>
</div><!--.col-->
</div>

In [44]:
name_class = soup.find_all(class_="country-name")
country_names = []
for name in name_class:
    names = name.get_text(strip=True)
    country_names.append(names)

capital_class = soup.find_all(class_="country-capital")
capital_names = []
for capital in capital_class:
    capitals = capital.get_text(strip=True)
    capital_names.append(capitals)

population_class = soup.find_all(class_="country-population")
population_numbers = []
for population in population_class:
    populations = population.get_text(strip=True)
    population_numbers.append(populations)
    
area_class = soup.find_all(class_="country-area")
areas = []
for area in area_class:
    area_number = area.get_text(strip=True)
    areas.append(area_number)

dic = {"Country Name": country_names, "Capital": capital_names, "Population":population_numbers, "Area(km2)":areas}

In [50]:
df = pd.DataFrame(dic)
df.to_csv("country-dataset", sep=';', index=False)
display(df)

             Country Name           Capital Population  Area(km2)
0                 Andorra  Andorra la Vella      84000      468.0
1    United Arab Emirates         Abu Dhabi    4975593    82880.0
2             Afghanistan             Kabul   29121286   647500.0
3     Antigua and Barbuda        St. John's      86754      443.0
4                Anguilla        The Valley      13254      102.0
..                    ...               ...        ...        ...
245                 Yemen             Sanaa   23495361   527970.0
246               Mayotte         Mamoudzou     159042      374.0
247          South Africa          Pretoria   49000000  1219912.0
248                Zambia            Lusaka   13460305   752614.0
249              Zimbabwe            Harare   11651858   390580.0

[250 rows x 4 columns]